absl-py==2.3.1
altgraph @ file:///AppleInternal/Library/BuildRoots/4~CNlKugBUuKM58FJFHeNR3wcmLXUyWlLa_MEj66k/Library/Caches/com.apple.xbs/TemporaryDirectory.BQzQ7o/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
astunparse==1.6.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.1.8
contourpy==1.3.0
cycler==0.12.1
exceptiongroup==1.3.1
fastapi==0.128.8
flatbuffers==25.12.19
fonttools==4.60.2
future @ file:///AppleInternal/Library/BuildRoots/4~CNlKugBUuKM58FJFHeNR3wcmLXUyWlLa_MEj66k/Library/Caches/com.apple.xbs/TemporaryDirectory.BQzQ7o/Sources/python3/future-0.18.2-py3-none-any.whl
gast==0.7.0
google-pasta==0.2.0
grpcio==1.80.0
h11==0.16.0
h5py==3.14.0
idna==3.18
importlib_metadata==8.7.1
importlib_resources==6.5.2
joblib==1.5.3
keras==3.10.0
kiwisolver==1.4.7
libclang==18.1.1
macholib @ file:///AppleInternal/Library/BuildRoots/4~CNlKugBUuKM58FJFHeNR3wcmLXUyWlLa_MEj66k/Library/Caches/com.apple.xbs/TemporaryDirectory.BQzQ7o/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mdurl==0.1.2
mediapipe==0.10.35
ml_dtypes==0.5.4
namex==0.1.0
numpy==2.0.2
onnx==1.14.0
onnx-tf==1.10.0
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pandas==2.3.3
pillow==11.3.0
protobuf==6.33.6
pycparser==2.23
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
requests==2.32.5
rich==15.0.0
scikit-learn==1.6.1
scipy==1.13.1
six @ file:///AppleInternal/Library/BuildRoots/4~CNlKugBUuKM58FJFHeNR3wcmLXUyWlLa_MEj66k/Library/Caches/com.apple.xbs/TemporaryDirectory.BQzQ7o/Sources/python3/six-1.15.0-py2.py3-none-any.whl
skl2onnx==1.20.0
sounddevice==0.5.5
starlette==0.49.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-addons==0.23.0
termcolor==3.1.0
tf2onnx==1.8.4
threadpoolctl==3.6.0
typeguard==2.13.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
uvicorn==0.39.0
Werkzeug==3.1.8
wrapt==2.2.1
zipp==3.23.1
